:org.apache.felix.configadmin.revision:=L"2"
felix.fileinstall.active.level="90"
felix.fileinstall.dir="/Users/fran/OpenHAB/openhab-3.2.0/addons"
felix.fileinstall.filename="file:/Users/fran/OpenHAB/openhab-3.2.0/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="/Users/fran/OpenHAB/openhab-3.2.0/userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall~deploy"
