:org.apache.felix.configadmin.revision:=L"2"
felix.fileinstall.filename="file:/Users/fran/OpenHAB/openhab-3.2.0/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="/Users/fran/OpenHAB/openhab-3.2.0/userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
